# Ignore everything
*

# But not Java files...
!.gitignore
!*.java

# And CI
!.travis.yml
!build.gradle.kts
!gradlew
!LICENSE
!README.md
!settings.gradle

# And yandex-tank
!/yandex-tank/*
!/yandex-tank/ammo_gens/*

# ...even if they are in subdirectories
!*/
